@import '../scss/vars';


.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    width: 92%;
    padding: 10px 20px; 
    color: $text-primary;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    word-break: keep-all;
    align-items: center;
    border-radius: 20px;
    border: $border;
    span:nth-child(1) {
      color: $name;
    }
    span:nth-child(2) {
      color: $black;
      font-weight: 900;
      font-size: 17px;
      display: flex;
      justify-content: center;
    }
    span:nth-child(3) {
      font-size: 11px;
      line-height: 14px;
      color: $black;
    }
  }

}

