@import '../scss/_vars';

.table {
  border-right: $border;
  position: relative;
  >header {
    height: 60px;
    border-bottom: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    >h2 {
      font-size: 24px;
      font-weight: 900;
      color:rgba(49, 44, 44, 0.315);
    }
  }
  &__titles {
    height: 44px;
    padding: 0 15px;
    border-bottom: $border;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
  }
  &__list {
    padding: 10px 7px 10px 10px;
  }
  &__item {
    margin-top: 15px;
  }
}